@using EventoCore.Entities
@{
    ViewData["Title"] = "Convites";
    var convites = (IEnumerable<Convite>)ViewBag.Convites;
    var usuarioId = User.Claims.FirstOrDefault(v => v.Type == "UsuarioId")?.Value;
}

<style>

    body {
        background-color: #F9F9F9;
        margin: 0px;
    }

    .titulo {
        color: #9165e3;
        width: 80%;
        font: bold 20px arial, verdana, helvetica, sans-serif;
    }

    .titulo-componentes {
        color: #9165e3;
        font: bold 16px arial, verdana, helvetica, sans-serif;
        padding: 1rem 0rem 1rem 1rem;
        width: 100%;
    }

    .flex {
        display: flex;
        column-gap: 1rem;
    }

    .breadcrumb {
        color: #9165e3;
        background-color: transparent !important;
        font: bold 12px arial, verdana, helvetica, sans-serif;
    }

    .estrutura {
        padding: 1rem
    }

    .container {
        max-width: 1500px !important;
    }

    .componente {
        background-color: white;
        width: 100%;
        height: fit-content;
        border-radius: 15px;
        padding: 1rem
    }

    .header-tabela {
        background-color: #F3F3F3;
        width: 100%;
        height: fit-content;
        border-radius: 15px 15px 0 0;
        padding: 1rem
    }

    .input input {
        border: transparent;
        width: 270px;
        height: 2rem;
        border-radius: 10px;
        margin-bottom: 1rem;
        background-color: #f9f9f9;
        padding: 3px;
    }

    .flax-r {
        display: flex;
        justify-content: right;
        width: 100%
    }

    .button-logar {
        border-radius: 15px;
        border: 1px solid #9165e3;
        background-color: #9165e3;
        color: white;
        width: 10rem;
    }

    .Conteudo-tabela {
        background-color: #F9F9F9;
    }

    table {
        width: 100%;
        border-spacing: 0 0.5rem;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    td, th {
        padding: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        color: #707070;
        font-family: 'Calibri', Arial, sans-serif;
    }

</style>

<div class="componenteLogar">
    <div class="flex estrutura">
        <div class="titulo">CONVITES</div>
        <div class="flax-r">
            @* <div class="breadcrumb-cop">Meu Usuário </div> *@
        </div>
    </div>

    <div class="estrutura">
        <div class="flex">
            <div class="componente">

                <table>
                    <tr>
                        <th>Status</th>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Dt. Início</th>
                        <th>Dt. Fim</th>
                        <th>Organizador</th>
                        <th></th>
                    </tr>

                    @foreach (var a in convites)
                    {
                        <tr>
                            <td>@a.StatusDescricao</td>
                            <td>@a.Evento.Titulo</td>
                            <td>@a.Evento.Descricao</td>
                            <td>@a.Evento.Inicio.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@a.Evento.Fim.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@a.Evento.UsuarioInclusao?.Nome</td>
                            <td class="text-center">
                                @if (a.Status == Convite.StatusConvite.Pendente)
                                {
                                    <button class="button-lista">
                                        <i class="fas fa-check" onclick="aceita('@a.Id')"></i>
                                    </button>
                                    <button class="button-lista">
                                        <i class="fas fa-times" onclick="recusa('@a.Id')"></i>
                                    </button>                                    
                                }
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>

<script>

    function aceita(id){
        confirma(id,true)
    }
    
    function recusa(id){
        confirma(id,false)
    }

    function confirma(id,confirmado) {
        $.ajax({
            url: '@(Url.Action("ConfirmarConvite", "Convite"))',
            method: 'PUT',
            data: {
                id: id,
                confirmado: confirmado
            },
            success: function (data) {
                if (data.sucesso) {
                    window.location.href = '@(Url.Action("Index", "Convite"))';
                }
                else {
                    // $("#erro").html(data.mensagem);
                    // $("#erro").removeClass("d-none");
                }
            },
            error: function (data) {
                // $("#erro").html("Ocorreu um erro ao autenticar");
                // $("#erro").removeClass("d-none");
            },
        });
    }

</script>