@using EventoCore.Entities
@{
    ViewData["Title"] = "Eventos";
    var eventos = (IEnumerable<Evento>)ViewBag.Eventos;
}

<style>

    body {
        background-color: #F9F9F9;
        margin: 0px;
    }

    .titulo {
        color: #9165e3;
        width: 80%;
        font: bold 20px arial, verdana, helvetica, sans-serif;
    }

    .titulo-componentes {
        color: #9165e3;
        font: bold 16px arial, verdana, helvetica, sans-serif;
        padding: 1rem 0rem 1rem 1rem;
        width: 100%;
    }

    .flex {
        display: flex;
        column-gap: 1rem;
    }

    .breadcrumb {
        color: #9165e3;
        background-color: transparent !important;
        font: bold 12px arial, verdana, helvetica, sans-serif;
    }

    .estrutura {
        padding: 1rem
    }

    .container {
        max-width: 1500px !important;
    }

    .componente {
        background-color: white;
        width: 100%;
        height: fit-content;
        border-radius: 15px;
        padding: 1rem
    }

    .header-tabela {
        background-color: #F3F3F3;
        width: 100%;
        height: fit-content;
        border-radius: 15px 15px 0 0;
        padding: 1rem
    }

    .input input {
        border: transparent;
        width: 270px;
        height: 2rem;
        border-radius: 10px;
        margin-bottom: 1rem;
        background-color: #f9f9f9;
        padding: 3px;
    }

    .flax-r {
        display: flex;
        justify-content: right;
        width: 100%
    }

    .button-logar {
        border-radius: 15px;
        border: 1px solid #9165e3;
        background-color: #9165e3;
        color: white;
        width: 10rem;
    }

    .Conteudo-tabela {
        background-color: #F9F9F9;
    }

    table {
        width: 100%
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    td, th {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        color: #707070;
        font-family: 'Calibri', Arial, sans-serif;
    }

</style>

<div class="componenteLogar">
    <div class="flex estrutura">
        <div class="titulo">EVENTOS </div>
        <div class="flax-r">
            @* <div class="breadcrumb-cop">Meu Usuário </div> *@
        </div>
    </div>

    <div class="estrutura">
        <div class="flex">
            <div class="componente">
                <div class="flex estrutura">
                    <div class="flax-r"><button class="button-logar" type="submit" onclick="cadastro()">CADASTRAR</button></div>
                </div>

                <table>
                    <tr>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Dt. Início</th>
                        <th>Dt. Fim</th>
                        <th>Usuário</th>
                        <th></th>
                    </tr>

                    @foreach (var a in eventos)
                    {
                        <tr>
                            <td>@a.Titulo</td>
                            <td>@a.Descricao</td>
                            <td>@a.Inicio.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@a.Fim.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@a.UsuarioInclusao?.Nome</td>
                            <td class="text-center">
                                <button class="button-lista">
                                    <i class="fas fa-edit" onclick="edita('@a.Id')"></i>
                                </button>
                                <button class="button-lista">
                                    <i class="fas fa-trash" onclick="exclui('@a.Id')"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<script>


    function cadastro() {
        window.location.href = '@(Url.Action("Cadastro", "Evento"))';
    }

    function edita(id) {
        window.location.href = '@(Url.Action("Cadastro", "Evento"))?id=' + id;
    }

    function exclui(id) {

        $.ajax({
            url: '@(Url.Action("ExcluirEvento", "Evento"))',
            method: 'DELETE',
            data: {
                id: id,
            },
            success: function (data) {
                if (data.sucesso) {
                    window.location.href = '@(Url.Action("Index", "Evento"))';
                }
                else {
                    // $("#erro").html(data.mensagem);
                    // $("#erro").removeClass("d-none");
                }
            },
            error: function (data) {
                // $("#erro").html("Ocorreu um erro ao autenticar");
                // $("#erro").removeClass("d-none");
            },
        });
    }
</script>