@{
    var nomeUsuario = User.Claims.FirstOrDefault(v => v.Type == "Nome")?.Value;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/icones/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/icones/fontawesome/css/v4-shims.min.css" rel="stylesheet" />
    <link href="~/lib/icones/icofont/icofont.min.css" rel="stylesheet" />
    <link href="~/lib/icones/themify-icons/themify-icons.css" rel="stylesheet" />
    <link href="~/lib/icones/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/lib/icones/material-design-iconic-font/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/lib/icones/icofont/icofont.min.css" rel="stylesheet" />
    <link href="~/lib/icones/simple-line/simple-line-icons.css" rel="stylesheet" />
    <link href="~/lib/icones/fontello/css/fontello.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <style>

        body {
            margin: 0 !important;
            font-family: 'Arial', sans-serif;
        }

        button {
            background-color: #9165e3;
            width: 125px;
            height: 30px;
            color: white;
            border-radius: 30px;
            border: transparent;
        }

        .grid-principal {
            transition: all 1.0s ease;
            display: grid;
            grid-template-rows: 50px 1fr;
            grid-template-columns: 73px 1fr;
            grid-template-areas:
                "menu-lateral conteudo"
                "menu-lateral conteudo"
                "menu-lateral conteudo";
            height: 100%;
        }

        .conteudo {
            grid-area: conteudo;
            width: 100%;
            overflow-y:auto;
            max-height: 100vh;
            display: flex; 
            flex-direction: column;
        }

        .menu-lateral {
            grid-area: menu-lateral;
            background-color: #ffd7b5;
            transition: all 2s ease-in-out;
            height: 100%;
            overflow: hidden;
            padding-left: 0.5rem;
        }

        .sidebar {
            height: 100vh;
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 1rem;
        }

        .sidebar ul li .tooltip {
            left: 85px !important;
            background-color: var(--branco);
        }

        .sidebar.active .profile_content .profile {
            background-color: #ffd7b5;
        }

        .toggle-menu {
            grid-template-columns: 240px 1fr !important;
        }

        .lista-menu-lateral {
            cursor: pointer;
            display: flex;
            margin-top: 1rem;
            color: #9165e3;
            font-size: 1.5rem;
            align-items: center;
            justify-content: left;
            width:13rem;
        }

        .lista-menu-lateral > div {
            margin-left:1rem;
        }

        .title-ativo {
            border-left: 5px solid #9165e3;
        }

        .icone-sidebar {
            font-size: 35px;
            padding: 12px;
        }

        .icone-sair {
            font-size: 35px;
            padding: 12px;
            color: white;
        }

        .button-lista {
            background-color: transparent;
            width: auto;
            height: auto;
            color: #9165e3;
            border-radius: 30px;
            border: transparent;

        }

        .header {
            text-align: right;
            padding: 20px;
            background-color: #fd9a47;
            color: #9165e3;
            font: bold 20px arial, verdana, helvetica, sans-serif;
        }

    </style>

</head>
<body>
    <div class="grid-principal">
        <div class="menu-lateral">
            <div class="sidebar">
                <div>
                    <div style="cursor:pointer;padding-left:0.3rem" id="btn">
                        <img style="height:3rem" src="~/img/LOGO_TOP.png" />
                    </div>
                    <a href="@(Url.Action("Index", "Home"))">
                        <div class="lista-menu-lateral @((string)ViewBag.Title == "Calendário" ? Html.Raw("title-ativo") : Html.Raw(""))">
                            <i class="fas fa-calendar icone-sidebar"></i> <div>Calendário</div>
                        </div>
                    </a>
                    <a href="@(Url.Action("Index", "Evento"))">
                        <div class="lista-menu-lateral @((string)ViewBag.Title == "Eventos" ? Html.Raw("title-ativo") : Html.Raw(""))">
                            <i class="fas fa-list icone-sidebar"></i><div>Eventos</div>
                        </div>
                    </a>
                    <a href="@(Url.Action("Index", "Convite"))">
                        <div class="lista-menu-lateral @((string)ViewBag.Title == "Convites" ? Html.Raw("title-ativo") : Html.Raw(""))">
                            <i class="fas fa-envelope icone-sidebar"></i><div>Convites</div>
                        </div>
                    </a>
                </div>
                <div>
                    <div class="lista-menu-lateral">
                        <i class="fas fa-sign-out-alt icone-sair" onclick="sairSistema()"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="conteudo">
            <div class="header"><i class="fas fa-user"> </i>@($" {nomeUsuario}")</div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script>

        btn.onclick = function () {
            let sidebar = document.querySelector(".sidebar");
            sidebar.classList.toggle("active");

            $(".grid-principal").toggleClass("toggle-menu")
        }

        function sairSistema() {
            window.location.href = '@(Url.Action("Sair", "Autenticacao"))';
        }

    </script>
</body>
</html>
